<div class="landing">
    <div class="container">
      <div class="text-center text-capitalize text-light">
        <h1>home of movies</h1>
        <p class="fs-6 mb-4 text-white-50 text-uppercase">
          you can watch and know more details about your fav movie.
        </p>
        <div>
          <swiper-container
            navigation="true"
            slides-per-view="3"
            autoplay-delay="2000"
            autoplay-disable-on-interaction="false"
            
            loop="true"
            mousewheel-force-to-axis="true"
          >
            <swiper-slide *ngFor="let movie of movies">
              <img
                src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}"
                alt="poster"
                class="rounded-5"
              />
            </swiper-slide>
          </swiper-container>
        </div>
      </div>
    </div>
  </div>