.image{
  height: 100%;
}
iframe ,
.image-cast{
  height: 400px;
  width: 100%;
}

h4{
  color: #33d1cc;
  font-size: 1.5rem;
}
swiper-container::part(button-next),
swiper-container::part(button-prev) {
  color: white;
}