<nav class="navbar navbar-expand-lg sticky-top">
  <div class="container">
    <a class="navbar-brand text-uppercase text-white fw-bold" href="#">
      movies home
    </a>
    <button
      class="navbar-toggler d-lg-none"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#main"
      aria-controls="main"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fa-solid fa-bars fs-2"></i>
    </button>
    <div class="collapse navbar-collapse" id="main">
      <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a
            class="nav-link fw-bold active p-2 p-lg-3 text-capitalize"
            aria-current="page"
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Home
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link fw-bold p-2 p-lg-3 text-capitalize"
            routerLink="/top-rated"
            routerLinkActive="active"
            >top rated</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link fw-bold p-2 p-lg-3 text-capitalize"
            routerLink="/popular"
            routerLinkActive="active"
            >popular</a
          >
        </li>
      </ul>
      <div class="search d-none d-lg-block ps-3 pe-3">
        <i class="fa-solid fa-magnifying-glass"></i>
      </div>
      <a class="btn rounded-pill main-btn">login</a>
    </div>
  </div>
</nav>
<app-header *ngIf="!details"></app-header>
