<div class="landing">
  <div class="container">
    <div class="text-center text-capitalize text-light">
      <h1>home of movies</h1>
      <p class="fs-6 mb-4 text-white-50 text-uppercase">
        you can watch and know more details about your fav movie.
      </p>
      <div>
        <swiper-container init="false" class="header-swiper">
          <swiper-slide *ngFor="let movie of movies">
            <img
              (click)="getMovieDetails(movie.id)"
              src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}"
              alt="poster"
              class="rounded-5"
            />
          </swiper-slide>
        </swiper-container>
      </div>
    </div>
  </div>
</div>
