<section id="home">
  <div class="container">
    <div class="row">
      <div
        class="col-sm-12 col-md-4 col-lg-3 mt-2"
        *ngFor="
          let movie of movies
            | paginate
              : {
                  id: 'paination',
                  itemsPerPage: 20,
                  currentPage: pageNum(),
                  totalItems: 1000
                }
        "
      >
        <app-movie-card [movie]="movie"></app-movie-card>
      </div>
      <div class="d-flex mt-2 justify-content-center">
        <pagination-controls
          id="paination"
          class="my-pagination"
          (pageBoundsCorrection)="pageChanged($event)"
          previousLabel="Previous"
          nextLabel="Next"
          (pageChange)="pageChanged($event)"
        ></pagination-controls>
      </div>
    </div>
  </div>
</section>
